<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <a href="{% url 'todolist-logout' %}">Выход</a>
</head>
<body>
    <h2>Hello python!</h2>
</body>
</html>