<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вход</title>
</head>
<body>
    <h2>Вход</h2>
    <a href="{% url 'sign-up' %}">Регистрация</a>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit">Вход</button>
    </form>
</body>
</html>