<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
</head>
<body>
    <h2>Регистрация</h2>
    <a href="{% url 'login' %}">Вход</a>
    {% if info %}
        <p>{{ info }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        <button type="submit">Зарегистрироватся</button>
    </form>
</body>
</html>