<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'todolist-logout' %}"><p>Выход</p></a>
    <a href="{% url 'create' %}">Create a task</a>
    <p>Сортировать по: <a href="{% url 'tasks' %}?ordering=priority">Приоритету</a>
    <a href="{% url 'tasks' %}?ordering=status">Статусу</a></p>
    {% for task in object_list %}
    <a href="{% url 'detail' task.id %}">{{ task }}</a>
    {{ task.status }} {{ task.priority }}
     <p>{{ task.description }}</p>
     {{ task.id }}
    {% endfor %}
</body>
</html>